#main-content {
    height:100%;
    margin:auto;
    width: 80%;
}

#side-bar {
    width: 20%;
    height: 100%;
    float: left;
}

#content {
    height:100%;
    width:79%;
    float: left;
}

ul{
    list-style-type: none;
}

body{
    background-color: #36393e;
    color:whitesmoke
}

a{
    color: #ff8164

}
a:hover{
    color:aqua
}
button:hover{
    color:red
}

button{
    border-color:black;
    border-radius: 25px;
    margin:2px;
}