#main-content {
    border: 1px solid green;
    height:100%;
    margin:auto;
    width: 80%;
}

#side-bar {
    border: 1px solid red;
    width: 20%;
    height: 100%;
    float: left;
}

#content {
    border: 1px solid blue;
    height:100%;
    width:79%;
    float: left;
}

